[submodule "FreneticGameEngine"]
	path = FreneticGameEngine
	url = https://github.com/FreneticLLC/FreneticGameEngine
[submodule "FreneticUtilities"]
	path = FreneticUtilities
	url = https://github.com/FreneticLLC/FreneticUtilities/
